<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Book</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href='../static/css/add_book.css'>

</head>
<body>
    <div class="container">
        <h1>Add Book</h1>
        <form action="{{ url_for('add_book_route') }}" method="POST">
            <label for="book_id">Book ID:</label>
            <input type="text" id="book_id" name="book_id" required><br><br>
            <label for="book_name">Book Name:</label>
            <input type="text" id="book_name" name="book_name" required><br><br>
            <label for="author_name">Author Name:</label>
            <input type="text" id="author_name" name="author_name" required><br><br>
            <label for="date_name">Date (DD/MM/YYYY):</label>
            <input type="text" id="date_name" name="date_name" required><br><br>
            <label for="price_name">Price:</label>
            <input type="text" id="price_name" name="price_name" required><br><br>
            <label for="category_name">Category:</label>
            <input type="text" id="category_name" name="category_name" required><br><br>
            <button type="submit">Add Book</button>
        </form>
    </div>
</body>
</html>
